<div class="bookmarks-index">
  <div class="title">
    <h1><strong>お気に入り一覧</strong></h1>
   <div>
  <% if @shops.present? %>
    <div class="card-style">
      <%= render partial: "shared/shops_list", collection: @shops, as: "shop" %>
      <div class="pagination">
        <% if @first_page %>
          <div class="page_link">
            <%= link_to t('.first_page'), bookmarks_path(page: @first_page), data: { turbo_frame: "_top" },class:"no-underline"  %>
          </div>
        <% end %>
        <% if @previous_page%>
          <div class="page_link">
            <%= link_to t('.previous'), bookmarks_path(page: @previous_page), data: { turbo_frame: "_top" },class:"no-underline"  %>
          </div>
        <% end %>
        <% (@start_page..@final_page).each do |page| %>
          <% if page != @current_page %>
            <div class="page_link">
              <%= link_to page, bookmarks_path(page: page), data: { turbo_frame: "_top" },class:"no-underline"  %>
            </div>
          <% else %>
            <div class="current_page">
              <%= @current_page %>
            </div>
          <% end %>
        <% end %>
        <% if @next_page %>
          <div class="page_link">
            <%= link_to t('.next'), bookmarks_path(page: @next_page), data: { turbo_frame: "_top" },class:"no-underline" %>
          </div>
        <% end %>
        <% if @last_page %>
          <div class="page_link">
            <%= link_to t('.last_page'), bookmarks_path(page: @last_page), data: { turbo_frame: "_top" },class:"no-underline"  %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="bookmark-nil">
      <strong>お気に入り登録はありません</strong>
    </div>
  <% end %>
</div>