<div class="comment-create">
  <div class="comment-style">
    <%= form_with(model: [@shop, @comment]) do |form| %>
      <div class="comment-create-container">
        <h1><strong><%= t('.comment_create_title')%></strong></h1>
        <% 5.times do |i| %>
          <%= link_to do %>
            <div class="icon-gray">
              <i class="fa-regular fa-star fa-3x"></i>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= form.text_field :content, placeholder: "コメントを入力してください", class:"content" %>
      <div class="submit-visit-day">
        <div class="visit-day">
          <%= form.label :visit_day %>
          <%= form.date_select :visit_day %>
        </div>
        <div class="submit">
          <%= form.submit t('.submit'), class:"submit-botton" %>
        <div>
      </div>
    <% end %>
  </div>
</div>