<div class="card-style">
  <% @shops.each do |shop| %>
    <div class="shop-container">
      <div class="image">
        <%= image_tag shop.logo_image, class:"image"%>
      </div>
      <div class="shops">
        <p class="shops-name"><%=link_to shop.name , shop_path(shop), data: { turbo_frame: "_top" }%> <%#店舗名%></p>
        <p><%= shop.address%> <%#住所%></p>
        <p>¥<%= shop[:budget]%> <%#平均予算%></p>
      </div>
      <% if bookmark = Bookmark.find_by(shop_id: shop.id, user_id: current_user.id) %>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete } do %>
          <div class="icon">
            <i class="fa-solid fa-heart fa-3x"></i>
          </div>
        <% end %>
      <% else %>
        <%= link_to bookmarks_path(shop_id: shop.id, user_id: current_user.id), data: { turbo_method: :post } do %>
          <div class="icon">
            <i class="fa-regular fa-heart fa-3x"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="pagination">
    <% keyword_filter_params = @filter_conditions.merge(keyword: @keyword.word) %>
    <% if @first_page %>
      <div class="page_link">
        <%= link_to t('.first_page'), shops_path(keyword_filter_params.merge(page: @first_page) ), data: { turbo_frame: "_top" },class:"no-underline"  %>
      </div>
    <% end %>
    <% if @previous_page%>
      <div class="page_link">
        <%= link_to t('.previous'), shops_path(keyword_filter_params.merge(page: @previous_page)), data: { turbo_frame: "_top" },class:"no-underline"  %>
      </div>
    <% end %>

    <% (@start_page..@final_page).each do |page| %>
      <% if page != @current_page %>
        <div class="page_link">
          <%= link_to page, shops_path(keyword_filter_params.merge(page: page)), data: { turbo_frame: "_top" },class:"no-underline"  %>
        </div>
      <% else %>
        <div class="current_page">
          <%= @current_page %>
        </div>
      <% end %>
    <% end %>
    <% if @next_page %>
      <div class="page_link">
        <%= link_to t('.next'), shops_path(keyword_filter_params.merge(page: @next_page)), data: { turbo_frame: "_top" },class:"no-underline" %>
      </div>
    <% end %>
    <% if @last_page %>
      <div class="page_link">
        <%= link_to t('.last_page'), shops_path(keyword_filter_params.merge(page: @last_page)), data: { turbo_frame: "_top" },class:"no-underline"  %>
      </div>
    <% end %>
    <% if @current_page * 10 >= @total_shops %>
      <div class="next-100">    
        <%= link_to t('.next100'), shops_path(keyword_filter_params.merge(record_start_index: @current_page * 10 + 1, page: @current_page + 1)), data: { turbo_frame: "_top" },class:"no-underline"  %>
      </div>
    <% end %>
  </div>
</div>