<h1 class="title"><%= t('.title') %></h1>
<%= form_with url: shops_path, method: :get do |f| %>
  <%= f.text_field :keyword, placeholder: "検索キーワード" %>
  <%= button_to t('.search') %>
<% end %>
<% @shops.each do |shop| %>
  <%= image_tag shop["logo_image"]%>
  <p><%=link_to shop["name"]%> <%#店舗名%></p>
  <p><%= shop["address"]%> <%#住所%></p>
  <p>¥<%= shop["budget"]["name"]%> <%#平均予算%></p>
<% end %>
