<div class="shops-index">
  <h1 class="title"><%= t('.title') %></h1>
  <%= form_with url: shops_path, method: :get do |f| %>
    <div class="filter">
      <strong><%= t('.filter')%></strong><br>
      <%= f.check_box :free_drink,{}, "1", "0" %>
      <%= f.label :free_drink, "飲み放題あり" %>
      <%= f.check_box :free_food, {}, "1" , "0" %>
      <%= f.label :free_food, "食べ放題あり" %>
      <%= f.check_box :private_room, {}, "1", "0" %>
      <%= f.label :private_room, "個室あり" %>
      <%= f.check_box :course, {}, "1", "0" %>
      <%= f.label :course, "コースあり" %>
      <%= f.check_box :midnight, {}, "1", "0" %>
      <%= f.label :midnight, "23時以降も営業" %>
      <%= f.check_box :non_smoking, {}, "1", "0" %>
      <%= f.label :non_smoking, "禁煙" %>
    </div>
    <div class="search">
    <%= f.text_field :keyword, placeholder: "検索キーワード" %>
    <%= f.hidden_field :start, value: 1 %>
    <%= f.submit t('.search') %>
  <% end %>

  <div class="card-style">
    <% @shops.each do |shop| %>
      <div class="container">
        <div class="image">
          <%= image_tag shop["logo_image"], class:"image"%>
        </div>
        <div class="shops">
          <p class="shops-name"><%=link_to shop["name"], shops_detail_path(shop)%> <%#店舗名%></p>
          <p><%= shop["address"]%> <%#住所%></p>
          <p>¥<%= shop["budget"]["name"]%> <%#平均予算%></p>
        </div>
        <div class="icon">
        <i class="fa-solid fa-heart fa-3x icon"></i>
        </div>
      </div>
    <% end %>
    <%= link_to t('.first_page'), shops_path(page: @first_page, keyword: @keyword.word ) if @first_page %>
    <%= link_to t('.previous'), shops_path(page: @previous_page, keyword: @keyword.word) if @previous_page  %>
    <%= @current_page %>
    <%= link_to t('.next'), shops_path(page: @next_page, keyword: @keyword.word) if @next_page %>
    <%= link_to t('.last_page'), shops_path(page: @last_page, keyword: @keyword.word) if @last_page %>
    <% if @current_page * 10 >= @total_shops %>
      <%= link_to t('.next100'), shops_path(start: @current_page * 10 + 1, page: @current_page + 1, keyword: @keyword.word) %>
    <% end %>
  </div>
</div>
