<div class="shops-index">
  <h1 class="title"><%= t('.title') %></h1>
  <%= form_with url: shops_path, method: :get do |f| %>
    <div class="filter">
      <strong><%= t('.filter')%></strong><br>
      <%= f.check_box :free_drink, { include_hidden: false }, "あり" %>
      <%= f.label :free_drink, "飲み放題あり" %>
      <%= f.check_box :free_food,{ include_hidden: false }, "あり" %>
      <%= f.label :free_food, "食べ放題あり" %>
      <%= f.check_box :private_room, { include_hidden: false }, "あり" %>
      <%= f.label :private_room, "個室あり" %>
      <%= f.check_box :course, { include_hidden: false }, "あり" %>
      <%= f.label :course, "コースあり" %>
      <%= f.check_box :midnight, { include_hidden: false }, "営業している" %>
      <%= f.label :midnight, "23時以降も営業" %><br>
      <%= f.check_box :non_smoking, { include_hidden: false }, "なし"%>
      <%= f.label :non_smoking, "禁煙" %>
      <%= f.check_box :wine %>
      <%= f.label :wine, "ワイン充実" %>
      <%= f.check_box :sake %>
      <%= f.label :sake, "日本酒充実" %>
      <%= f.check_box :cocktail %>
      <%= f.label :cocktail, "カクテル充実" %>
      <%= f.check_box :shochu %>
      <%= f.label :shochu, "焼酎" %><br>
    </div>
    <div class="search">
    <%= f.text_field :keyword, placeholder: "検索キーワード" %>
    <%= button_to t('.search') %>
  <% end %>

  <div class="card-style">
    <% @shops.each do |shop| %>
      <div class="container">
        <div class="image">
          <%= image_tag shop["logo_image"], class:"image"%>
        </div>
        <div class="shops">
          <p class="shops-name"><%=link_to shop["name"], shops_detail_path(shop)%> <%#店舗名%></p>
          <p><%= shop["address"]%> <%#住所%></p>
          <p>¥<%= shop["budget"]["name"]%> <%#平均予算%></p>
        </div>
        <div class="icon">
        <i class="fa-solid fa-heart fa-3x icon"></i>
        </div>
      </div>
    <% end %>
    <div class="page"> 
      <%= paginate @shops %>
    </div>
  </div>
</div>
