<div class="shops-index">
  <h1 class="title"><%= t('.title') %></h1>
  <%= form_with url: shops_path, method: :get do |f| %>
    <div class="filter">
      <strong><%= t('.filter')%></strong><br>
      <%= f.check_box :free_drink,{ include_hidden: false }, "1" %>
      <%= f.label :free_drink, "飲み放題あり" %>
      <%= f.check_box :free_food, { include_hidden: false }, "1" %>
      <%= f.label :free_food, "食べ放題あり" %>
      <%= f.check_box :private_room, { include_hidden: false }, "1" %>
      <%= f.label :private_room, "個室あり" %>
      <%= f.check_box :course, { include_hidden: false }, "1" %>
      <%= f.label :course, "コースあり" %>
      <%= f.check_box :midnight, { include_hidden: false }, "1" %>
      <%= f.label :midnight, "23時以降も営業" %>
      <%= f.check_box :non_smoking, { include_hidden: false }, "1" %>
      <%= f.label :non_smoking, "禁煙" %>
    </div>
    <div class="search">
    <%= f.text_field :keyword, placeholder: "検索キーワード" %>
    <%= f.hidden_field :record_start_index, value: 1 %>
    <%= f.submit t('.search') %>
  <% end %>
  <turbo-frame>
    <%= render partial: 'shop', colletion: @shops %>
  </turbo-frame>
</div>