<div class="shops-index">
  <h1 class="title"><%= t('.title') %></h1>
  <%= form_with url: shops_path, method: :get do |f| %>
    <div class="filter">
      <strong><%= t('.filter')%></strong><br>
      <%= check_box_tag "free_drink", "1"%>
      <%= label_tag :free_drink, "飲み放題あり" %>
      <%= check_box_tag "free_food", "1" %>
      <%= label_tag :free_food, "食べ放題あり" %>
      <%= check_box_tag "private_room", "1" %>
      <%= label_tag :private_room, "個室あり" %>
      <%= check_box_tag "course", "1" %>
      <%= label_tag :course, "コースあり" %>
      <%= check_box_tag "midnight", "1" %>
      <%= label_tag :midnight, "23時以降も営業" %><br>
      <%= check_box_tag "non_smoking", "1" %>
      <%= label_tag :non_smoking, "禁煙" %>
      <%= check_box_tag "wine", "1" %>
      <%= label_tag :wine, "ワイン充実" %>
      <%= check_box_tag "sake", "1" %>
      <%= label_tag :sake, "日本酒充実" %>
      <%= check_box_tag "cocktail", "1" %>
      <%= label_tag :cocktail, "カクテル充実" %>
      <%= check_box_tag "shochu", "1" %>
      <%= label_tag :shochu, "焼酎" %><br>
    </div>
    <div class="search">
    <%= f.text_field :keyword, placeholder: "検索キーワード" %>
    <%= button_to t('.search') %>
  <% end %>

  <div class="card-style">
    <% @shops.each do |shop| %>
      <div class="container">
        <div class="image">
          <%= image_tag shop["logo_image"], class:"image"%>
        </div>
        <div class="shops">
          <p class="shops-name"><%=link_to shop["name"], shops_detail_path(shop)%> <%#店舗名%></p>
          <p><%= shop["address"]%> <%#住所%></p>
          <p>¥<%= shop["budget"]["name"]%> <%#平均予算%></p>
        </div>
        <div class="icon">
        <i class="fa-solid fa-heart fa-3x icon"></i>
        </div>
      </div>
    <% end %>
    <div class="page"> 
      <%= paginate @shops %>
    </div>
  </div>
</div>
