<div class="shops-show">  
  <div class="card-style">
    <div class="shop-container">
      <div class="title">
        <h1><strong><%= @shop.name %></strong></h1>
      </div>
      <% if bookmark = Bookmark.find_by(shop_id: @shop.id, user_id: current_user.id) %>
          <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete } do %>
            <div class="icon">
              <i class="fa-solid fa-heart fa-3x"></i>
            </div>
          <% end %>
        <% else %>
          <%= link_to bookmarks_path(shop_id: @shop.id, user_id: current_user.id), data: { turbo_method: :post } do %>
            <div class="icon">
              <i class="fa-regular fa-heart fa-3x"></i>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="image">
      <%= image_tag @shop.image %>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.address') %>
      </div>
      <div class="data">
        <%= @shop.address %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.phone_number') %>
      </div>
      <div class="data">
        <%= @shop.phone_number %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
      <%= t('.access') %>
      </div>
      <div class="data">
        <%= @shop.access %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.opening_hours') %>
      </div>
      <div class="data">
        <%= @shop.opening_hours %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.closing_day') %>
      </div>
      <div class="data">
        <%= @shop.closing_day %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.budget') %>
      </div>
      <div class="data">
        ¥<%= @shop.budget %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.number_of_seats') %>
      </div>
      <div class="data">
        <%= @shop.number_of_seats %>席
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.url') %>
      </div>
      <div class="data">
        <% url = CGI.escapeHTML(@shop.url) %>
        <%= link_to url, url, target: "_blank", rel: "noopener noreferrer" %>
      </div>
    </div>
  </div>
  <div class="back-link">
    <%= link_to t('.back'), shops_path %>
  </div>
</div>
<div class="comment">
  <div class="comment-style">
    <%= form_with(model: [@shop, @comment]) do |form| %>
      <div class="a">
        <h1><strong><%= t('.post_title')%></strong></h1>
        <% 5.times do |i| %>
          <%= link_to do %>
            <div class="icon-gray">
              <i class="fa-regular fa-star fa-3x"></i>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= form.text_field :content, placeholder: "コメントを入力してください", class:"content" %>
      <div class="submit-visit-day">
        <div class="visit-day">
          <%= form.label :visit_day %>
          <%= form.date_select :visit_day %>
        </div>
        <div class="submit">
          <%= form.submit t('.submit'), class:"submit-botton" %>
        <div>
      </div>
    <% end %>
  </div>
</div>