<div class="shops-show">  
  <div class="card-style">
    <p class="title"><strong><%= @shop.name %></strong></p>
    <div class="image">
      <%= image_tag @shop.image %>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.address') %>
      </div>
      <div class="data">
        <%= @shop.address %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.phone_number') %>
      </div>
      <div class="data">
        <%= @shop.phone_number %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
      <%= t('.access') %>
      </div>
      <div class="data">
        <%= @shop.access %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.opening_hours') %>
      </div>
      <div class="data">
        <%= @shop.opening_hours %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.closing_day') %>
      </div>
      <div class="data">
        <%= @shop.closing_day %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.budget') %>
      </div>
      <div class="data">
        ¥<%= @shop.budget %>
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.number_of_seats') %>
      </div>
      <div class="data">
        <%= @shop.number_of_seats %>席
      </div>
    </div>
    <div class="shops-detail">
      <div class="label">
        <%= t('.url') %>
      </div>
      <div class="data">
        <%= link_to sanitize(@shop.url), @shop.url if @shops.url.present? %>
      </div>
    </div>
  </div>
  <div class="back-link">
    <%= link_to t('.back'), shops_path %>
  </div>
</div>