<div class="users-passwords-edit">
  <div class="card-style">
    <div class="title">
      <h2>パスワード変更</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "新しいパスワード" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"password-field" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"password-field" %>
      </div>

      <div class="submit">
        <%= f.submit "パスワード変更", class:"submit-botton" %>
      </div>
    <% end %>
    <div class="link">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
